.flexbox-container-user-profile {
    display: flex;
    width: 50%;

    .user-profile-container {
        padding: 5px;
        width: 100%;
        text-align: center;

        .user-name {
            font-size: 25px;
        }
    }
}

