.submit {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    padding: 6px 12px 6px 12px;

    &:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }

    &:active {
        background-color: #0062cc;
        border-color: #005cbf;
        box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
        outline: 0;
    }
}